---
title: AllTV Online | violation
---
extends layouts/_layout
block content
  section.violation
    amp-img(src="/img/banner970.jpg" layout="responsive" width="970" height="90"  alt="AMP" class="banner banner-center")
    amp-img(src="/img/banner320x100.jpg" layout="responsive" width="320" height="100"  alt="banner" class="mob-banner mob-visible")
    .contacts-container
      h2.h2.violation__title 
        span.violation__title-item Violation Report 
        span.violation__devider.tablet-hidden / 
        a.violation__title-item.inline-link(href="#") Add Channel
      .violation__info
        p allTVonline.com is not a video-hosting site.
        p All video content is loaded from remote sources provided by users.
        p We respect private property, so if you find that your rights have been violated, please contact us at: 
        p
          a.inline-link(href="mailto:info@alltvonline.com") info@alltvonline.com
        p We provide various ways of solving such problems. We also remove the links to the objects of violation.
      .primary-form
        .primary-form__row
          label.primary-label Link
            input.primary-input(type="text" name="link")
        .primary-form__row
          label.primary-label Message
            textarea.primary-textarea(rows="4" name="message")
        .primary-form__row.sm-visible
          label.primary-label Your E-mail
            input.primary-input(type="email" name="email")
        .primary-form__row
          label.primary-label
            input.primary-checkbox-native(type="checkbox" name="owner")
            .primary-checkbox-custom
              +icon('icon-check-mark')
            .primary-checkbox-text I`m the owner of the channel
        .primary-form__row
          label.primary-label.indent-25
            amp-img(src="img/captcha.jpg" width="300" height="74" layout="fixed")
          label.primary-label.sm-hidden Your E-mail
            input.primary-input(type="email" name="email")
        .primary-form__row
          input.primary-submit(type="submit" value="Send")
        .primary-form__row.mob-visible E-mail: 
          a.inline-link(href="mailto:info@alltvonline.com") info@alltvonline.com