//BEGIN channel_item_no-programm
.channel-box.channel-box_left
  a.channel-item.channel-item_no-programm(role="button" href="/channel")
      h3.h3.channel-item__title Channel title
      .channel-item__logo.channel-img-box
        amp-img(src="img/logotype.png" layout="responsive" width="250" height="250" alt="channel")
      .flag
        span.flag-icon.flag--gb
      span.channel-item__groups.mob-hidden Groups
//END channel_item_no-programm