.icon-arch {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-arrow-left {
  width: 1.67em;
  height: 1em;
  fill: #858889;
}
.icon-arrow-right {
  width: 1.67em;
  height: 1em;
  fill: #858889;
}
.icon-big-cross {
  width: 0.94em;
  height: 1em;
  fill: #858889;
}
.icon-check-mark {
  width: 1.4em;
  height: 1em;
  fill: #9452ae;
}
.icon-controls {
  width: 0.96em;
  height: 1em;
  fill: #000;
}
.icon-controls2 {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-cross {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-double-rarr {
  width: 1.06em;
  height: 1em;
  fill: #858889;
}
.icon-enter {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-error404 {
  width: 1.33em;
  height: 1em;
  fill: #9452ae;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon-larr {
  width: 0.56em;
  height: 1em;
  fill: #858889;
}
.icon-icon-rarr {
  width: 0.56em;
  height: 1em;
  fill: #858889;
}
.icon-left-arr {
  width: 0.56em;
  height: 1em;
  fill: #858889;
}
.icon-logo {
  width: 3.88em;
  height: 1em;
  fill: #fff;
}
.icon-menu {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-page {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-right-arr {
  width: 0.56em;
  height: 1em;
  fill: #858889;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-social-bitly {
  width: 0.71em;
  height: 1em;
  fill: #f26e2a;
}
.icon-social-facebook {
  width: 0.58em;
  height: 1em;
  fill: #3b5998;
}
.icon-social-fav {
  width: 1.09em;
  height: 1em;
  fill: #f5ca59;
}
.icon-social-gplus {
  width: 1.5em;
  height: 1em;
  fill: #dc4e41;
}
.icon-social-link {
  width: 1em;
  height: 1em;
  fill: #178bf4;
}
.icon-social-ok {
  width: 0.6em;
  height: 1em;
  fill: #d57819;
}
.icon-social-telegram {
  width: 1.2em;
  height: 1em;
  fill: #08c;
}
.icon-social-twitter {
  width: 1.2em;
  height: 1em;
  fill: #1da1f2;
}
.icon-social-vk {
  width: 1.63em;
  height: 1em;
  fill: #6383a8;
}
.icon-star {
  width: 1.06em;
  height: 1em;
  fill: none;
}
.icon-tile {
  width: 1em;
  height: 1em;
  fill: #fff;
}
